# Packer environment variables
# Usage: cp .env.template .env && vim .env && source .env && packer build debian-13.pkr.hcl

# Proxmox connection
PKR_VAR_proxmox_url="https://152.228.222.18:8006/api2/json"
PKR_VAR_proxmox_username="root@pam"
PKR_VAR_proxmox_password="CHANGE_ME"
PKR_VAR_proxmox_node="ovh-pve-01"
PKR_VAR_proxmox_host="152.228.222.18"

# SSH (used during build only)
PKR_VAR_ssh_password="packer"
