# Proxmox connection
proxmox_url      = "https://152.228.222.18:8006/api2/json"
proxmox_username = "root@pam"
proxmox_password = "CHANGE_ME"
proxmox_node     = "ovh-pve-01"
proxmox_host     = "152.228.222.18"

# Security
insecure_skip_tls_verify = true

# VM configuration
vm_id        = 9000
vm_name      = "debian-13-cloudinit"
storage_pool = "data"

# ISO (downloaded automatically by Proxmox, verified with SHA512)
iso_url      = "https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/debian-13.4.0-amd64-netinst.iso"
iso_checksum = "sha512:3e02de4ed744799350bd4039b137053835238ff9f9f29eee812309cd7eebdb5127b0f2b54d167b76d324530aa16939b41ae2d2f2d1995a2801e19938acdc927f"

# SSH (used during build only)
ssh_password = "packer"
