# Proxmox connection
proxmox_url      = "https://152.228.222.18:8006/api2/json"
proxmox_username = "root@pam"
proxmox_password = "CHANGE_ME"
proxmox_node     = "ovh-pve-01"
proxmox_host     = "152.228.222.18"

# Security
insecure_skip_tls_verify = true

# VM configuration
vm_id        = 9000
vm_name      = "debian-13-cloudinit"
storage_pool = "data"

# ISO
iso_file     = "local:iso/debian-13.3.0-amd64-netinst.iso"
iso_checksum = "sha512:1ada40e4c938528dd8e6b9c88c19b978a0f8e2a6757b9cf634987012d37ec98503ebf3e05acbae9be4c0ec00b52e8852106de1bda93a2399d125facea45400f8"

# SSH (used during build only)
ssh_password = "packer"
