# Managed by Ansible
auto lo
iface lo inet loopback

auto eth0
iface eth0 inet manual
    pre-up ip link set dev $IFACE up
    post-down ip link set dev $IFACE down

auto eth1
iface eth1 inet static
    address {{ firewall_management_ip }}
    gateway {{ firewall_management_gateway }}
    dns-nameservers {{ firewall_dns_servers }}
{% for vlan in firewall_vlans %}

auto eth0.{{ vlan.id }}
iface eth0.{{ vlan.id }} inet static
    address {{ vlan.address }}
{% endfor %}