d-i debian-installer/locale string en_US.UTF-8

# Clavier français pour le système installé
d-i keyboard-configuration/xkb-keymap select fr
d-i keyboard-configuration/layoutcode string fr
d-i keyboard-configuration/variant select France

# Réseau
d-i netcfg/disable_autoconfig boolean true
d-i netcfg/get_ipaddress string 192.168.10.5
d-i netcfg/get_netmask string 255.255.255.248
d-i netcfg/get_gateway string 192.168.10.1
d-i netcfg/get_nameservers string 1.1.1.1 8.8.8.8
d-i netcfg/confirm_static boolean true
d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string localdomain

# Miroir
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Utilisateurs
d-i passwd/root-password password sq0dQoFrOl1LDwH1G99o
d-i passwd/root-password-again password sq0dQoFrOl1LDwH1G99o
d-i passwd/make-user boolean false

# Partitionnement
d-i partman-auto/method string regular
d-i partman-auto/expert_recipe string \
    single-root :: \
        1000 10000 -1 ext4 \
            $primary{ } $bootable{ } \
            method{ format } format{ } \
            use_filesystem{ } filesystem{ ext4 } \
            mountpoint{ / } \
        .
d-i partman-auto/choose_recipe select single-root
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman-basicfilesystems/no_swap boolean false
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Packages
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string sudo cloud-init qemu-guest-agent cloud-guest-utils
d-i pkgsel/upgrade select full-upgrade
popularity-contest popularity-contest/participate boolean false

d-i preseed/late_command string \
    in-target sed -i 's/#PermitRootLogin prohibit-password/PermitRootLogin yes/' /etc/ssh/sshd_config; \
    in-target sed -i 's/PermitRootLogin prohibit-password/PermitRootLogin yes/' /etc/ssh/sshd_config

# Grub
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string /dev/sda

# Finish
d-i finish-install/reboot_in_progress note
