# Proxmox Configuration
TF_VAR_pve_endpoint=https://proxmox.local:8006
TF_VAR_pve_username=root@pam
TF_VAR_pve_password=your_password_here
TF_VAR_pve_node=pve

# Talos Configuration
TF_VAR_talos_factory_url=https://factory.talos.dev
TF_VAR_talos_image_schemantic=ce4c980550dd2ab1b17bbf2b08801c7eb59418eafe8f279833297925d67c7515
TF_VAR_talos_version=v1.8.4
TF_VAR_talos_image_name=nocloud-amd64.raw.xz

# Debian VM configuration
TF_VAR_vm_password=""
